.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090923;
    --primary-color: #0931a9;
    --secondary-color: #336eed;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}