.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    min-width: calc(100% - var(--sidebar-width));
    flex-grow: 1;
}

.loader {
    --w: 10ch;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    letter-spacing: calc(10*var(--w));
    width: var(--w);
    overflow: hidden;
    white-space: nowrap;
    color: var(--inverted-bg-color);
    animation: l18 3s infinite;
}

.loader:before {
    content: "Loading...";
}

@keyframes l18 {
    0% {
        text-shadow:
            calc(9*var(--w)) 0 var(--inverted-bg-color), calc(-1*var(--w)) 0 var(--inverted-bg-color), calc(-11*var(--w)) 0 var(--inverted-bg-color), calc(-21*var(--w)) 0 var(--inverted-bg-color), calc(-31*var(--w)) 0 var(--inverted-bg-color),
            calc(-41*var(--w)) 0 var(--inverted-bg-color), calc(-51*var(--w)) 0 var(--inverted-bg-color), calc(-61*var(--w)) 0 var(--inverted-bg-color), calc(-71*var(--w)) 0 var(--inverted-bg-color), calc(-81*var(--w)) 0 var(--inverted-bg-color)
    }

    4% {
        text-shadow:
            calc(0*var(--w)) 0 var(--inverted-bg-color), calc(-1*var(--w)) 0 var(--inverted-bg-color), calc(-11*var(--w)) 0 var(--inverted-bg-color), calc(-21*var(--w)) 0 var(--inverted-bg-color), calc(-31*var(--w)) 0 var(--inverted-bg-color),
            calc(-41*var(--w)) 0 var(--inverted-bg-color), calc(-51*var(--w)) 0 var(--inverted-bg-color), calc(-61*var(--w)) 0 var(--inverted-bg-color), calc(-71*var(--w)) 0 var(--inverted-bg-color), calc(-81*var(--w)) 0 var(--inverted-bg-color)
    }

    8% {
        text-shadow:
            calc(0*var(--w)) 0 var(--inverted-bg-color), calc(-10*var(--w)) 0 var(--inverted-bg-color), calc(-11*var(--w)) 0 var(--inverted-bg-color), calc(-21*var(--w)) 0 var(--inverted-bg-color), calc(-31*var(--w)) 0 var(--inverted-bg-color),
            calc(-41*var(--w)) 0 var(--inverted-bg-color), calc(-51*var(--w)) 0 var(--inverted-bg-color), calc(-61*var(--w)) 0 var(--inverted-bg-color), calc(-71*var(--w)) 0 var(--inverted-bg-color), calc(-81*var(--w)) 0 var(--inverted-bg-color)
    }

    12% {
        text-shadow:
            calc(0*var(--w)) 0 var(--inverted-bg-color), calc(-10*var(--w)) 0 var(--inverted-bg-color), calc(-20*var(--w)) 0 var(--inverted-bg-color), calc(-21*var(--w)) 0 var(--inverted-bg-color), calc(-31*var(--w)) 0 var(--inverted-bg-color),
            calc(-41*var(--w)) 0 var(--inverted-bg-color), calc(-51*var(--w)) 0 var(--inverted-bg-color), calc(-61*var(--w)) 0 var(--inverted-bg-color), calc(-71*var(--w)) 0 var(--inverted-bg-color), calc(-81*var(--w)) 0 var(--inverted-bg-color)
    }

    16% {
        text-shadow:
            calc(0*var(--w)) 0 var(--inverted-bg-color), calc(-10*var(--w)) 0 var(--inverted-bg-color), calc(-20*var(--w)) 0 var(--inverted-bg-color), calc(-30*var(--w)) 0 var(--inverted-bg-color), calc(-31*var(--w)) 0 var(--inverted-bg-color),
            calc(-41*var(--w)) 0 var(--inverted-bg-color), calc(-51*var(--w)) 0 var(--inverted-bg-color), calc(-61*var(--w)) 0 var(--inverted-bg-color), calc(-71*var(--w)) 0 var(--inverted-bg-color), calc(-81*var(--w)) 0 var(--inverted-bg-color)
    }

    20% {
        text-shadow:
            calc(0*var(--w)) 0 var(--inverted-bg-color), calc(-10*var(--w)) 0 var(--inverted-bg-color), calc(-20*var(--w)) 0 var(--inverted-bg-color), calc(-30*var(--w)) 0 var(--inverted-bg-color), calc(-40*var(--w)) 0 var(--inverted-bg-color),
            calc(-41*var(--w)) 0 var(--inverted-bg-color), calc(-51*var(--w)) 0 var(--inverted-bg-color), calc(-61*var(--w)) 0 var(--inverted-bg-color), calc(-71*var(--w)) 0 var(--inverted-bg-color), calc(-81*var(--w)) 0 var(--inverted-bg-color)
    }

    24% {
        text-shadow:
            calc(0*var(--w)) 0 var(--inverted-bg-color), calc(-10*var(--w)) 0 var(--inverted-bg-color), calc(-20*var(--w)) 0 var(--inverted-bg-color), calc(-30*var(--w)) 0 var(--inverted-bg-color), calc(-40*var(--w)) 0 var(--inverted-bg-color),
            calc(-50*var(--w)) 0 var(--inverted-bg-color), calc(-51*var(--w)) 0 var(--inverted-bg-color), calc(-61*var(--w)) 0 var(--inverted-bg-color), calc(-71*var(--w)) 0 var(--inverted-bg-color), calc(-81*var(--w)) 0 var(--inverted-bg-color)
    }

    28% {
        text-shadow:
            calc(0*var(--w)) 0 var(--inverted-bg-color), calc(-10*var(--w)) 0 var(--inverted-bg-color), calc(-20*var(--w)) 0 var(--inverted-bg-color), calc(-30*var(--w)) 0 var(--inverted-bg-color), calc(-40*var(--w)) 0 var(--inverted-bg-color),
            calc(-50*var(--w)) 0 var(--inverted-bg-color), calc(-60*var(--w)) 0 var(--inverted-bg-color), calc(-61*var(--w)) 0 var(--inverted-bg-color), calc(-71*var(--w)) 0 var(--inverted-bg-color), calc(-81*var(--w)) 0 var(--inverted-bg-color)
    }

    32% {
        text-shadow:
            calc(0*var(--w)) 0 var(--inverted-bg-color), calc(-10*var(--w)) 0 var(--inverted-bg-color), calc(-20*var(--w)) 0 var(--inverted-bg-color), calc(-30*var(--w)) 0 var(--inverted-bg-color), calc(-40*var(--w)) 0 var(--inverted-bg-color),
            calc(-50*var(--w)) 0 var(--inverted-bg-color), calc(-60*var(--w)) 0 var(--inverted-bg-color), calc(-70*var(--w)) 0 var(--inverted-bg-color), calc(-71*var(--w)) 0 var(--inverted-bg-color), calc(-81*var(--w)) 0 var(--inverted-bg-color)
    }

    36% {
        text-shadow:
            calc(0*var(--w)) 0 var(--inverted-bg-color), calc(-10*var(--w)) 0 var(--inverted-bg-color), calc(-20*var(--w)) 0 var(--inverted-bg-color), calc(-30*var(--w)) 0 var(--inverted-bg-color), calc(-40*var(--w)) 0 var(--inverted-bg-color),
            calc(-50*var(--w)) 0 var(--inverted-bg-color), calc(-60*var(--w)) 0 var(--inverted-bg-color), calc(-70*var(--w)) 0 var(--inverted-bg-color), calc(-80*var(--w)) 0 var(--inverted-bg-color), calc(-81*var(--w)) 0 var(--inverted-bg-color)
    }

    40%,
    60% {
        text-shadow:
            calc(0*var(--w)) 0 var(--inverted-bg-color), calc(-10*var(--w)) 0 var(--inverted-bg-color), calc(-20*var(--w)) 0 var(--inverted-bg-color), calc(-30*var(--w)) 0 var(--inverted-bg-color), calc(-40*var(--w)) 0 var(--inverted-bg-color),
            calc(-50*var(--w)) 0 var(--inverted-bg-color), calc(-60*var(--w)) 0 var(--inverted-bg-color), calc(-70*var(--w)) 0 var(--inverted-bg-color), calc(-80*var(--w)) 0 var(--inverted-bg-color), calc(-90*var(--w)) 0 var(--inverted-bg-color)
    }

    64% {
        text-shadow:
            calc(-9*var(--w)) 0 var(--inverted-bg-color), calc(-10*var(--w)) 0 var(--inverted-bg-color), calc(-20*var(--w)) 0 var(--inverted-bg-color), calc(-30*var(--w)) 0 var(--inverted-bg-color), calc(-40*var(--w)) 0 var(--inverted-bg-color),
            calc(-50*var(--w)) 0 var(--inverted-bg-color), calc(-60*var(--w)) 0 var(--inverted-bg-color), calc(-70*var(--w)) 0 var(--inverted-bg-color), calc(-80*var(--w)) 0 var(--inverted-bg-color), calc(-90*var(--w)) 0 var(--inverted-bg-color)
    }

    68% {
        text-shadow:
            calc(-9*var(--w)) 0 var(--inverted-bg-color), calc(-19*var(--w)) 0 var(--inverted-bg-color), calc(-20*var(--w)) 0 var(--inverted-bg-color), calc(-30*var(--w)) 0 var(--inverted-bg-color), calc(-40*var(--w)) 0 var(--inverted-bg-color),
            calc(-50*var(--w)) 0 var(--inverted-bg-color), calc(-60*var(--w)) 0 var(--inverted-bg-color), calc(-70*var(--w)) 0 var(--inverted-bg-color), calc(-80*var(--w)) 0 var(--inverted-bg-color), calc(-90*var(--w)) 0 var(--inverted-bg-color)
    }

    72% {
        text-shadow:
            calc(-9*var(--w)) 0 var(--inverted-bg-color), calc(-19*var(--w)) 0 var(--inverted-bg-color), calc(-29*var(--w)) 0 var(--inverted-bg-color), calc(-30*var(--w)) 0 var(--inverted-bg-color), calc(-40*var(--w)) 0 var(--inverted-bg-color),
            calc(-50*var(--w)) 0 var(--inverted-bg-color), calc(-60*var(--w)) 0 var(--inverted-bg-color), calc(-70*var(--w)) 0 var(--inverted-bg-color), calc(-80*var(--w)) 0 var(--inverted-bg-color), calc(-90*var(--w)) 0 var(--inverted-bg-color)
    }

    76% {
        text-shadow:
            calc(-9*var(--w)) 0 var(--inverted-bg-color), calc(-19*var(--w)) 0 var(--inverted-bg-color), calc(-29*var(--w)) 0 var(--inverted-bg-color), calc(-39*var(--w)) 0 var(--inverted-bg-color), calc(-40*var(--w)) 0 var(--inverted-bg-color),
            calc(-50*var(--w)) 0 var(--inverted-bg-color), calc(-60*var(--w)) 0 var(--inverted-bg-color), calc(-70*var(--w)) 0 var(--inverted-bg-color), calc(-80*var(--w)) 0 var(--inverted-bg-color), calc(-90*var(--w)) 0 var(--inverted-bg-color)
    }

    80% {
        text-shadow:
            calc(-9*var(--w)) 0 var(--inverted-bg-color), calc(-19*var(--w)) 0 var(--inverted-bg-color), calc(-29*var(--w)) 0 var(--inverted-bg-color), calc(-39*var(--w)) 0 var(--inverted-bg-color), calc(-49*var(--w)) 0 var(--inverted-bg-color),
            calc(-50*var(--w)) 0 var(--inverted-bg-color), calc(-60*var(--w)) 0 var(--inverted-bg-color), calc(-70*var(--w)) 0 var(--inverted-bg-color), calc(-80*var(--w)) 0 var(--inverted-bg-color), calc(-90*var(--w)) 0 var(--inverted-bg-color)
    }

    84% {
        text-shadow:
            calc(-9*var(--w)) 0 var(--inverted-bg-color), calc(-19*var(--w)) 0 var(--inverted-bg-color), calc(-29*var(--w)) 0 var(--inverted-bg-color), calc(-39*var(--w)) 0 var(--inverted-bg-color), calc(-49*var(--w)) 0 var(--inverted-bg-color),
            calc(-59*var(--w)) 0 var(--inverted-bg-color), calc(-60*var(--w)) 0 var(--inverted-bg-color), calc(-70*var(--w)) 0 var(--inverted-bg-color), calc(-80*var(--w)) 0 var(--inverted-bg-color), calc(-90*var(--w)) 0 var(--inverted-bg-color)
    }

    88% {
        text-shadow:
            calc(-9*var(--w)) 0 var(--inverted-bg-color), calc(-19*var(--w)) 0 var(--inverted-bg-color), calc(-29*var(--w)) 0 var(--inverted-bg-color), calc(-39*var(--w)) 0 var(--inverted-bg-color), calc(-49*var(--w)) 0 var(--inverted-bg-color),
            calc(-59*var(--w)) 0 var(--inverted-bg-color), calc(-69*var(--w)) 0 var(--inverted-bg-color), calc(-70*var(--w)) 0 var(--inverted-bg-color), calc(-80*var(--w)) 0 var(--inverted-bg-color), calc(-90*var(--w)) 0 var(--inverted-bg-color)
    }

    92% {
        text-shadow:
            calc(-9*var(--w)) 0 var(--inverted-bg-color), calc(-19*var(--w)) 0 var(--inverted-bg-color), calc(-29*var(--w)) 0 var(--inverted-bg-color), calc(-39*var(--w)) 0 var(--inverted-bg-color), calc(-49*var(--w)) 0 var(--inverted-bg-color),
            calc(-59*var(--w)) 0 var(--inverted-bg-color), calc(-69*var(--w)) 0 var(--inverted-bg-color), calc(-79*var(--w)) 0 var(--inverted-bg-color), calc(-80*var(--w)) 0 var(--inverted-bg-color), calc(-90*var(--w)) 0 var(--inverted-bg-color)
    }

    96% {
        text-shadow:
            calc(-9*var(--w)) 0 var(--inverted-bg-color), calc(-19*var(--w)) 0 var(--inverted-bg-color), calc(-29*var(--w)) 0 var(--inverted-bg-color), calc(-39*var(--w)) 0 var(--inverted-bg-color), calc(-49*var(--w)) 0 var(--inverted-bg-color),
            calc(-59*var(--w)) 0 var(--inverted-bg-color), calc(-69*var(--w)) 0 var(--inverted-bg-color), calc(-79*var(--w)) 0 var(--inverted-bg-color), calc(-89*var(--w)) 0 var(--inverted-bg-color), calc(-90*var(--w)) 0 var(--inverted-bg-color)
    }

    100% {
        text-shadow:
            calc(-9*var(--w)) 0 var(--inverted-bg-color), calc(-19*var(--w)) 0 var(--inverted-bg-color), calc(-29*var(--w)) 0 var(--inverted-bg-color), calc(-39*var(--w)) 0 var(--inverted-bg-color), calc(-49*var(--w)) 0 var(--inverted-bg-color),
            calc(-59*var(--w)) 0 var(--inverted-bg-color), calc(-69*var(--w)) 0 var(--inverted-bg-color), calc(-79*var(--w)) 0 var(--inverted-bg-color), calc(-89*var(--w)) 0 var(--inverted-bg-color), calc(-99*var(--w)) 0 var(--inverted-bg-color)
    }
}